<html>
<!doctype html>
<head>
  <title>LibreSubtitles</title>
  <link rel="icon" type="image/png" href="/libre-icon.png" />
  <link rel="shortcut icon" href="/libre-icon.png">
</head>


<body>
  {{content}}


  <h2>Subtitles available:</h2>
  <h1>{{ tree.name }}</h1>
  <ul>
  {%- for item in tree.children recursive %}
      <li>
        <a href="https://libreflix.org/i/{{ item.name }}"><h4>{{ item.name }}</h4></a>
      </li>
      {%- if item.children -%}
          <ul>
            {% for i in item.children%}
            <li>
              <a href="/subs/{{item.name}}/{{ i.name }}">{{ i.name }}</a>
            </li>
            {% endfor %}
          </ul>
      {%- endif %}</li>
  {%- endfor %}
  </ul>


</body>

<script type="text/javascript" charset="utf-8">
  // Creating custom :external selector
  $.expr[':'].external = function(obj) {
    return !obj.href.match(/^mailto\:/) &&
      (obj.hostname != location.hostname);
  };

  $(function() {
    // Add 'external' CSS class to all external links
    $('a:external').addClass('external');

    // turn target into target=_blank for elements w external class
    $(".external").attr('target', '_blank');

  });

  $(document).ready(function() {
    $('.container').fadeIn();
  });
</script>
  
</html>
